@page
@model ProyectoEnvios.App.Presentacion.Pages.DetallesModel
@{
  int idCliente = Model.cliente.Id;
}

<h2>Información Completa del Cliente</h2><br>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col"># ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Tipo de Documento</th>
      <th scope="col"># de Documento</th>
      <th scope="col">Email</th>
      <th scope="col"># de Teléfono</th>
      <th scope="col">Dirección</th>
    </tr>
  </thead>
    <tbody>
      <tr scope="row">
        <td>@Model.cliente.Id</td>
        <td>@Model.cliente.cli_nombre</td>
        <td>@Model.cliente.cli_apellidos</td>
        <td>@Model.cliente.cli_tipo_documento</td>
        <td>@Model.cliente.cli_num_documento</td>
        <td>@Model.cliente.cli_email</td>
        <td>@Model.cliente.cli_telefono</td>
        <td>@Model.cliente.cli_direccion</td>
      </tr>
    </tbody>